PORT_API=
PORT_AUTH=
PORT_COURSE=
PORT_INVENTORY=
PORT_PARTICIPANT=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=

AUTH_DB_HOST=
AUTH_DB_PORT=5432
AUTH_DB_USER=
AUTH_DB_PASS=
AUTH_DB_NAME=

COURSE_DB_HOST=
COURSE_DB_PORT=5432
COURSE_DB_USER=
COURSE_DB_PASS=
COURSE_DB_NAME=

INVENTORY_DB_HOST=
INVENTORY_DB_PORT=5432
INVENTORY_DB_USER=
INVENTORY_DB_PASS=
INVENTORY_DB_NAME=

PARTICIPANT_DB_HOST=
PARTICIPANT_DB_PORT=5432
PARTICIPANT_DB_USER=
PARTICIPANT_DB_PASS=
PARTICIPANT_DB_NAME=

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ACCESS_EXPIRE=5m
JWT_REFRESH_EXPIRE=5h

GITHUB_TOKEN=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_STORAGE_REGION=
S3_STORAGE_BUCKET=

REDIS_PORT=
REDIS_HOST=
REDIS_PASS=
REDIS_DB=
