PORT_API=
PORT_AUTH=
PORT_COURSE=
PORT_INVENTORY=

AUTH_DB_HOST=
AUTH_DB_PORT=5432
AUTH_DB_USER=
AUTH_DB_PASS=
AUTH_DB_NAME=

COURSE_DB_HOST=
COURSE_DB_PORT=5432
COURSE_DB_USER=
COURSE_DB_PASS=
COURSE_DB_NAME=

INVENTORY_DB_HOST=
INVENTORY_DB_PORT=5432
INVENTORY_DB_USER=
INVENTORY_DB_PASS=
INVENTORY_DB_NAME=

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_EXPIRE=

GITHUB_TOKEN=
